body {
    background-color: #fff;
  }
  
  header {
    background-color: rgb(179, 44, 14);
    height: 110px;
  }
  
  .pokemon-list {
    padding: 3% 5%;
    margin: 60px;
  }
  
  .btn-primary {
      font-size: 20px;
      font-family: 'Raedex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #eeee1c;
    cursor: pointer;  
  }
  
  .btn-primary:hover {
    background: #2435ce;
  }
  
  .pokemon-button {
    text-transform: capitalize;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      transition-duration: 0.4s;
  }
  
  @media all and (max-width: 1080px) {
      .pokemon-list{
          grid-template-columns: 1fr 1fr;
          gap: 40px;
      }
  }
  @media all and (max-width: 576px) {
      body {
          font-size: 22px;
      }
  }
.navbar-brand {
    font-family: 'Delicious Handrawn', bold;
    font-size: 1.3em;
    color: black;
    letter-spacing: 0.1em;
}

.pokemon-search::placeholder {
    color: black;
    opacity: 1;
    font-style: bold;
}
